<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand js-scroll-trigger" href="#"><%= image_tag "logo-challenge.png", width: 200 %></a>
  <div class="collapse navbar-collapse" id="navbarResponsive">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="#epreuves">Epreuves</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#lots">Lots</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Classement</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Réglement</a>
      </li>
    </ul>
  </div>
</nav>
