<div class="lot-inside-header-image" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.05) 50%), url('<%= image_path "header-slide2.jpg" %>');">
</div>

<div class="lot-inside-text">
  <h2>Le Classement Individuel <span style="border-bottom: 2px solid #F75100;">challenge Assurances Vélo</span></h2>
</div>


<div class="container">
  <div class="row">
    <div class="col-10 mx-auto">

      <p><strong>Homme 18/29 ans</strong></p>
      <ul>
        <li>
          <p>CABROL YANNICK - 420 km</p>
        </li>
        <li>
          <p>DURINGER ANTHONY - 406 km</p>
        </li>
        <li>
          <p>SWIERCZYNSKI BAPTISTE - 380 km</p>
        </li>
        <li>
          <p>ESTEVES Romain - 350 km</p>
        </li>
        <li>
          <p>BERLIN Antoine - 320 km</p>
        </li>
        <li>
          <p>PEDRENO MAXENCE - 291 km</p>
        </li>
        <li>
          <p>AUCLERC LUCAS - 291 km</p>
        </li>
        <li>
          <p>SEGUIN VALENTIN - 291 km</p>
        </li>
        <li>
          <p>CABROL CLEMENT - 267 km</p>
        </li>
        <li>
          <p>CHARLY Clément - 260 km</p>
        </li>
      </ul>

      <p><strong>Homme 30/39 ans</strong></p>
      <ul>
        <li>
          <p>POLI Alessandro - 688 km</p>
        </li>
        <li>
          <p>DESTOOP Brecht - 688 km</p>
        </li>
        <li>
          <p>SECACHE ALEXANDRE - 402 km</p>
        </li>
        <li>
          <p>BESSON FREDERIC - 380 km</p>
        </li>
        <li>
          <p>SHAHMAEI NATHANAEL - 380 km</p>
        </li>
        <li>
          <p>DESCHAMPS GUILLAUME - 291 km</p>
        </li>
        <li>
          <p>LARIOUX ALEXANDRE - 291 km</p>
        </li>
        <li>
          <p>BIZOUARD MICKAEL - 291 km</p>
        </li>
        <li>
          <p>GILI GERALD - 291 km</p>
        </li>
        <li>
          <p>BARNET JOHANN - 291 km</p>
        </li>
      </ul>

      <p><strong>Homme 40/49 ans</strong></p>
      <ul>
        <li>
          <p>LEBAS SEBASTIEN - 1025 km</p>
        </li>
        <li>
          <p>LABUSSIERE Jean Luc - 843 km</p>
        </li>
        <li>
          <p>CORTET STEPHANE - 688 km</p>
        </li>
        <li>
          <p>DE VECCHI David - 653 km</p>
        </li>
        <li>
          <p>GARCIA DA SILVA FERNANDO - 558 km</p>
        </li>
        <li>
          <p>GRAMMAIRE BENOIT - 532 km</p>
        </li>
        <li>
          <p>DAUPHIN GUY - 485 km</p>
        </li>
        <li>
          <p>LESPAGNOL LAURENT - 457 km</p>
        </li>
        <li>
          <p>PICARD CYRILLE - 438 km</p>
        </li>
        <li>
          <p>BUTAUD LAURENT - 421 km</p>
        </li>
      </ul>


      <p><strong>Homme 50/59</strong></p>
      <ul>
        <li>
          <p>GAUDELET Eddie - 996 km</p>
        </li>
        <li>
          <p>DUPONT STEPHANE - 835 km</p>
        </li>
        <li>
          <p>METAIS PHILIPPE - 835 km</p>
        </li>
        <li>
          <p>RENAUDIE DENIS - 679 km</p>
        </li>
        <li>
          <p>MARTIGNOLE Eric - 532 km</p>
        </li>
        <li>
          <p>DE TROY Eric - 511 km</p>
        </li>
        <li>
          <p>JABY ERIC - 402 km</p>
        </li>
        <li>
          <p>VANDERHAEGEN Pascal - 397 km</p>
        </li>
        <li>
          <p>BOUCHARIN Christian - 397 km</p>
        </li>
        <li>
          <p>RYCKBOSCH JAN - 380 km</p>
        </li>
      </ul>

      <p><strong>Homme 60/99 ans</strong></p>
      <ul>
        <li>
          <p>VIDALIE MICHEL - 996 km</p>
        </li>
        <li>
          <p>NAEGELY GUY - 910 km</p>
        </li>
        <li>
          <p>DELAYRE JEAN PAUL - 590 km</p>
        </li>
        <li>
          <p>SIMON Yves - 553 km</p>
        </li>
        <li>
          <p>BONNEAU RICHARD - 421 km</p>
        </li>
        <li>
          <p>VALLADE  Eric - 380 km</p>
        </li>
        <li>
          <p>ROCHE JEAN FRANCOIS - 308 km</p>
        </li>
        <li>
          <p>LEBRAU Jean Pierre - 294 km</p>
        </li>
        <li>
          <p>GRADOZ CHRISTIAN - 291 km</p>
        </li>
        <li>
          <p>MARECHAL YVES - 291 km</p>
        </li>
      </ul>



      <p><strong>Femme 18/29 ans</strong></p>
      <ul>
        <li>
          <p>TIBIER AUDREY - 380 km</p>
        </li>
        <li>
          <p>Yver Laurie - 291 km</p>
        </li>
        <li>
          <p>Armiroli Morgane - 277 km</p>
        </li>
        <li>
          <p>POMARES Cindy - 245 km</p>
        </li>
        <li>
          <p>NIDERCORNE Charlotte - 245 km</p>
        </li>
        <li>
          <p>LOLLIEROU  Elodie - 235 km</p>
        </li>
        <li>
          <p>NOURY Coralie - 230 km</p>
        </li>
        <li>
          <p>CHARPENTIER CHLOE - 135 km</p>
        </li>
        <li>
          <p>BIDEAU  Sandrine - 130 km</p>
        </li>
      </ul>



      <p><strong>Femme 30/39 ans</strong></p>
      <ul>
        <li>
          <p>DE VECCHI Amélie - 397 km</p>
        </li>
        <li>
          <p>RICORD Pauline - 340 km</p>
        </li>
        <li>
          <p>Verdovati Stephanie - 306 km</p>
        </li>
        <li>
          <p>Rousseau Fabienne - 306 km</p>
        </li>
        <li>
          <p>Neukermans Griet - 306 km</p>
        </li>
        <li>
          <p>De saint jean Magdalena - 291 km</p>
        </li>
        <li>
          <p>Giraud Linda - 277 km</p>
        </li>
        <li>
          <p>BERINGER Magali - 235 km</p>
        </li>
      </ul>



      <p><strong>Femme 40/99 ans</strong></p>
      <ul>
        <li>
          <p>GROS  Stéphanie - 476 km</p>
        </li>
        <li>
          <p>Geiselhart Dagmar - 306 km</p>
        </li>
        <li>
          <p>Bottaro Véronique - 291 km</p>
        </li>
        <li>
          <p>TRIFT Caroline - 245 km</p>
        </li>
        <li>
          <p>GALMICHE Flore - 245 km</p>
        </li>
        <li>
          <p>DECHAMP Carole - 245 km</p>
        </li>
        <li>
          <p>GARDEY Delphine - 230 km</p>
        </li>
      </ul>

      <p><strong>Handisport</strong></p>
      <ul>
        <li>
          <p>GAILLARD Cshristophe - 683 km</p>
        </li>
        <li>
          <p>DEDIANNE Alain - 545 km</p>
        </li>
        <li>
          <p>SERRIERE SEBASTIEN - 80 km</p>
        </li>
      </ul>

    </div>
  </div>
</div>
</div>

<div class="lot-inside-text">
  <h2>Le Classement par Equipe <span style="border-bottom: 2px solid #F75100;">challenge Assurances Vélo</span></h2>
</div>


<div class="container">
  <div class="row">
    <div class="col-10 mx-auto">


      <p><strong>1ere place : TEAM BONNAT 91 / ASSURANCES VELO - 3543 km</strong></p>

      <ul>
        <li>
          <p>LEBAS SEBASTIEN</p>
        </li>
        <li>
          <p>GALLOY DIDIER</p>
        </li>
        <li>
          <p>DESCHAMPS GUILLAUME</p>
        </li>
        <li>
          <p>VALLET THIBAUD</p>
        </li>
        <li>
          <p>GAUDELET EDDIE</p>
        </li>
        <li>
          <p>BOUCHARIN Christian</p>
        </li>
        <li>
          <p>DELLAI GIOVANNI</p>
        </li>
        <li>
          <p>LABUSSIERE JEAN LUC</p>
        </li>
        <li>
          <p>SACACHE ALEXANDRE</p>
        </li>
        <li>
          <p>LACHUISA CEDRIC</p>
        </li>
      </ul>


      <p><strong>2eme place : BOISSEUIL UNION CYCLISTE - 2124 km</strong></p>

      <ul>
        <li>
          <p>BOWLEY THOMAS</p>
        </li>
        <li>
          <p>ROBIN TONY</p>
        </li>
        <li>
          <p>LAGRANGE BENOIT</p>
        </li>
        <li>
          <p>CELERIER FLORENT</p>
        </li>
        <li>
          <p>MOURET ANTOINE</p>
        </li>
        <li>
          <p>PARVERY PHILIPPE</p>
        </li>
        <li>
          <p>SALON ALEXIS</p>
        </li>
        <li>
          <p>DOUCET STEPHANE</p>
        </li>
        <li>
          <p>BOWLEY PHILIPPA</p>
        </li>
        <li>
          <p>BONNEAU JULIEN</p>
        </li>
        <li>
          <p>PREDIGNAC LAURENT</p>
        </li>
        <li>
          <p>DOUVILLE THIERRY</p>
        </li>
        <li>
          <p>SAZERAT JEAN LUC</p>
        </li>
        <li>
          <p>FAUCONNET PASCAL</p>
        </li>
        <li>
          <p>PASQUIER NOEL</p>
        </li>
        <li>
          <p>FAYAUD NICOLAS</p>
        </li>
        <li>
          <p>MAYERAS BERNARD</p>
        </li>
        <li>
          <p>CLAVAUD MARC</p>
        </li>
        <li>
          <p>RIBARDIERE CHRISTIAN</p>
        </li>
      </ul>


      <p><strong>3eme place : VCPA - 1910 km</strong></p>

      <ul>
        <li>
          <p>MARECHAL YVES</p>
        </li>
        <li>
          <p>GROSJEAN THIERRY</p>
        </li>
        <li>
          <p>BASSARD DAVID</p>
        </li>
        <li>
          <p>COLLARDEY MICKAEL</p>
        </li>
        <li>
          <p>THERY CHRISTOPHE</p>
        </li>
        <li>
          <p>CAREMENTRANT PASCAL</p>
        </li>
        <li>
          <p>BUREAU EDOUARD</p>
        </li>
        <li>
          <p>FOLLOT CHARLES</p>
        </li>
        <li>
          <p>CHASSAIS MARC</p>
        </li>
        <li>
          <p>THERY CHRISTOPHE</p>
        </li>
        <li>
          <p>AREMENTRA PASCAL</p>
        </li>
        <li>
          <p>GARROT REGIS</p>
        </li>
        <li>
          <p>VILLETARD HENRI</p>
        </li>
        <li>
          <p>TARTERET SEBASTIEN</p>
        </li>
        <li>
          <p>VALLEZ FRANCIS</p>
        </li>
        <li>
          <p>FAIVRE JEAN LOUIS</p>
        </li>
        <li>
          <p>BERTHAUD MARC</p>
        </li>
      </ul>



      <p><strong>4eme place : ACBB - 1430 km</strong></p>

      <ul>
        <li>
          <p>LEMOUR Lionel</p>
        </li>
        <li>
          <p>CLINCHAMPS Franck</p>
        </li>
        <li>
          <p>POUILLOUX Serge</p>
        </li>
        <li>
          <p>MILLIES LACROIX Olivier</p>
        </li>
        <li>
          <p>MELLOT Agnes</p>
        </li>
        <li>
          <p>VIALETTES Charles</p>
        </li>
        <li>
          <p>FOURNET Arnaud</p>
        </li>
        <li>
          <p>ANTONIOU Benoit</p>
        </li>
        <li>
          <p>ROUX Pierre-Yves</p>
        </li>
        <li>
          <p>CUILLERET Bertrand</p>
        </li>
        <li>
          <p>TISON Stéphane</p>
        </li>
      </ul>



      <p><strong>5eme place : TEAM BEAUFORT - 1332 km</strong></p>

      <ul>
        <li>
          <p>Jasper VANSIELEGHEM</p>
        </li>
        <li>
          <p>Mario POPELIER</p>
        </li>
        <li>
          <p>Nick VANSIELEGHEM</p>
        </li>
        <li>
          <p>Kévin DE PRETER</p>
        </li>
        <li>
          <p>Patrick DE JONGHE</p>
        </li>
        <li>
          <p>Frank VANHULLE</p>
        </li>
        <li>
          <p>Ronny DEGRYSE</p>
        </li>
        <li>
          <p>Sophie VANROOSE</p>
        </li>
        <li>
          <p>Sylvie DEVELTER</p>
        </li>
        <li>
          <p>Michèle DE PRINCE</p>
        </li>
      </ul>


      <p><strong>6eme place : TMC 91 - 1300 km</strong></p>

      <ul>
        <li>
          <p>MACHADO Jérémy</p>
        </li>
        <li>
          <p>PECHEUX Richard</p>
        </li>
        <li>
          <p>MAIRE Didier</p>
        </li>
        <li>
          <p>METTENDORF Laurent</p>
        </li>
        <li>
          <p>PETOT Bruno</p>
        </li>
        <li>
          <p>PANZA Bruno</p>
        </li>
        <li>
          <p>HAMON Alain</p>
        </li>
        <li>
          <p>MARICEL Georges</p>
        </li>
        <li>
          <p>NIDERCORNE Charlotte</p>
        </li>
        <li>
          <p>LARRIEU Laurent</p>
        </li>
      </ul>



      <p><strong>7eme place : PCO - 1225 km</strong></p>

      <ul>
        <li>
          <p>SHAHMAEI Nathanaël</p>
        </li>
        <li>
          <p>CUQ Jean Christ</p>
        </li>
        <li>
          <p>MARTIGNOLE Eric</p>
        </li>
        <li>
          <p>GIORGALLA Sergio</p>
        </li>
        <li>
          <p>DANG Stéphane</p>
        </li>
        <li>
          <p>Monnier Gerard</p>
        </li>
        <li>
          <p>VIS Romain</p>
        </li>
      </ul>




      <p><strong>8eme place : France police - 1170 km</strong></p>

      <ul>
        <li>
          <p>LORIOUX Alexandre</p>
        </li>
        <li>
          <p>LECLERC Julien</p>
        </li>
        <li>
          <p>JANNIN Sebastien</p>
        </li>
        <li>
          <p>SALOU Cédric</p>
        </li>
        <li>
          <p>NOURY Coralie</p>
        </li>
        <li>
          <p>ABAUTET Pauline</p>
        </li>
        <li>
          <p>FABIEN Lisa</p>
        </li>
        <li>
          <p>GOUPY Tifany</p>
        </li>
        <li>
          <p>GARDEY Delphine</p>
        </li>
      </ul>



      <p><strong>9eme place : Team Peltrax - 1170 km</strong></p>

      <ul>
        <li>
          <p>GRANDET Mathieu</p>
        </li>
        <li>
          <p>LEGRAND Mathieu</p>
        </li>
        <li>
          <p>LE ROUX Alexandre</p>
        </li>
        <li>
          <p>LE NEUN Florian</p>
        </li>
        <li>
          <p>DUPUIS Clément</p>
        </li>
        <li>
          <p>DE VIDO Bastien</p>
        </li>
        <li>
          <p>SAILLARD Cyrille</p>
        </li>
        <li>
          <p>GUILLAUME Jean Charles</p>
        </li>
        <li>
          <p>LEGRAND Stéphane</p>
        </li>
      </ul>


      <p><strong>10eme place : Team Peltrax - 1062 km</strong></p>

      <ul>
        <li>
          <p>ARVIS BAPTISTE</p>
        </li>
        <li>
          <p>SOL MARCEAU</p>
        </li>
        <li>
          <p>MOULY ETIENNE</p>
        </li>
        <li>
          <p>QUEYCY MAXIME</p>
        </li>
        <li>
          <p>CUTILLAS DIANE</p>
        </li>
        <li>
          <p>TIONOHOUE FLORIAN</p>
        </li>
        <li>
          <p>CLARE ALEX</p>
        </li>
        <li>
          <p>RIBEROT CHRISTIAN</p>
        </li>
        <li>
          <p>BOSREDON MATHIEU</p>
        </li>
      </ul>

      <p><strong>11eme place : Team Mailleux - 1040 km</strong></p>

      <ul>
        <li>
          <p>BERWAERS Sébastien</p>
        </li>
        <li>
          <p>CALMANT Sébastien</p>
        </li>
        <li>
          <p>POIDLINS Didier</p>
        </li>
      </ul>

    </div>
  </div>
</div>
