<div class="lot-inside-header-image">
</div>

<div class="lot-inside-text">
  <h2>Le Classement Individuel <span style="border-bottom: 2px solid #F75100;">challenge Assurances Vélo</span></h2>
</div>


<div class="container">
  <div class="row">
    <div class="col-10 mx-auto">

      <p><strong>Homme 18/29 ans</strong></p>
      <ul>
        <li>
          <p>CABROL YANNICK - 1085 km</p>
        </li>
        <li>
          <p>CABROL Clement - 597 km</p>
        </li>
        <li>
          <p>DURINGER ANTHONY - 548 km</p>
        </li>
        <li>
          <p>RENAUDIN Jérémy - 445 km</p>
        </li>
        <li>
          <p>MARTIN Alexandre - 434 km</p>
        </li>
        <li>
          <p>LEMERLE Antoine - 433 km</p>
        </li>
        <li>
          <p>SEGUIN Valentin - 394 km</p>
        </li>
        <li>
          <p>DURAND Christophe - 387 km</p>
        </li>
        <li>
          <p>SWIERCZYNSKI BAPTISTE - 380 km</p>
        </li>
        <li>
          <p>GEYSSANT  Lucas - 367 km</p>
        </li>
      </ul>

      <p><strong>Homme 30/39 ans</strong></p>
      <ul>
        <li>
          <p>DESTOOP Brecht - 1173 km</p>
        </li>
        <li>
          <p>POLI Alessandro - 688 km</p>
        </li>
         <li>
          <p>SHAHMAEI NATHANAEL - 625 km</p>
        </li>
        <li>
          <p>SECACHE ALEXANDRE - 558 km</p>
        </li>
        <li>
          <p>TOMOWIAK Adrien - 485 km</p>
        </li>
        <li>
          <p>QUINTANE Mathieu - 445 km</p>
        </li>
        <li>
          <p>BESSON FREDERIC - 380 km</p>
        </li>
        <li>
          <p>VERGNAUD FABIEN - 364 km</p>
        </li>
        <li>
          <p>GRUZELLE ANATOLE - 356 km</p>
        </li>
        <li>
          <p>THERY  Christophe - 338 km</p>
        </li>
      </ul>

      <p><strong>Homme 40/49 ans</strong></p>
      <ul>
        <li>
          <p>LEBAS SEBASTIEN - 2003 km</p>
        </li>
        <li>
          <p>LABUSSIERE Jean Luc - 1821 km</p>
        </li>
        <li>
          <p>DAUPHIN GUY - 1321 km</p>
        </li>
        <li>
          <p>CORTET STEPHANE - 1194 km</p>
        </li>
        <li>
          <p>DE VECCHI David - 795 km</p>
        </li>
        <li>
          <p>LESPAGNOL LAURENT  - 698 km</p>
        </li>
        <li>
          <p>GILARDINI Vincent  - 565 km</p>
        </li>
        <li>
          <p>GARCIA DA SILVA FERNANDO - 558 km</p>
        </li>
        <li>
          <p>GUILMEAU LAURENT - 557 km</p>
        </li>
        <li>
          <p>GRAMMAIRE BENOIT - 532 km</p>
        </li>
      </ul>


      <p><strong>Homme 50/59</strong></p>
      <ul>
        <li>
          <p>GAUDELET Eddie - 1502 km</p>
        </li>
        <li>
          <p>DUPONT STEPHANE - 1341 km</p>
        </li>
        <li>
          <p>METAIS PHILIPPE - 1328 km</p>
        </li>
        <li>
          <p>RENAUDIE DENIS - 821 km</p>
        </li>
        <li>
          <p>DE TROY Eric - 653 km</p>
        </li>
        <li>
          <p>BOSREDON Pierre - 577 km </p>
        </li>
        <li>
          <p>DAVID Jacques - 575 km</p>
        </li>
        <li>
          <p>BOUCHARIN Christian - 552 km</p>
        </li>
        <li>
          <p>MARTIGNOLE Eric - 532 km</p>
        </li>
        <li>
          <p>JEAN LAURENT - 469 km</p>
        </li>
      </ul>

      <p><strong>Homme 60/99 ans</strong></p>
      <ul>
        <li>
          <p>VIDALIE MICHEL - 1974 km</p>
        </li>
        <li>
          <p>NAEGELY GUY - 1888 km</p>
        </li>
        <li>
          <p>DELAYRE JEAN PAUL - 1096 km</p>
        </li>
        <li>
          <p>SIMON Yves - 987 km</p>
        </li>
        <li>
          <p>DUMAZEL Jean-Paul - 448 km</p>
        </li>
        <li>
          <p>LASSARA  Alain - 440 km</p>
        </li>
        <li>
          <p>MAGNE PIERRE - 437 km</p>
        </li>
        <li>
          <p>BIZIERES MICHEL - 436 km</p>
        </li>
        <li>
          <p>MOULINET DANIEL - 422 km</p>
        </li>
        <li>
          <p>BONNEAU RICHARD - 421 km</p>
        </li>
      </ul>


      <p><strong>Femme 18/29 ans</strong></p>
      <ul>
        <li>
          <p>TIBIER AUDREY - 380 km</p>
        </li>
        <li>
          <p>Yver Laurie - 291 km</p>
        </li>
        <li>
          <p>Armiroli Morgane - 277 km</p>
        </li>
        <li>
          <p>POMARES Cindy - 245 km</p>
        </li>
        <li>
          <p>NIDERCORNE Charlotte - 245 km</p>
        </li>
        <li>
          <p>LOLLIEROU  Elodie - 235 km</p>
        </li>
        <li>
          <p>NOURY Coralie - 230 km</p>
        </li>
        <li>
          <p>LEJOLY Jacqueline - 203 km</p>
        </li>
        <li>
          <p>MILLOT CAROLINE - 180 km</p>
        </li>
        <li>
          <p>CHARPENTIER CHLOE - 135 km</p>
        </li>
      </ul>



      <p><strong>Femme 30/39 ans</strong></p>
      <ul>
        <li>
          <p>DE VECCHI Amélie - 539 km</p>
        </li>
        <li>
          <p>RICORD Pauline - 443 km</p>
        </li>
        <li>
          <p>Verdovati Stephanie - 306 km</p>
        </li>
        <li>
          <p>Rousseau Fabienne - 306 km</p>
        </li>
        <li>
          <p>Neukermans Griet - 306 km</p>
        </li>
        <li>
          <p>De saint jean Magdalena - 291 km</p>
        </li>
        <li>
          <p>Giraud Linda - 277 km</p>
        </li>
        <li>
          <p>BERINGER Magali - 235 km</p>
        </li>
        <li>
          <p>LAFUENTE MURIELLE - 217 km</p>
        </li>
        <li>
          <p>BRUNET ASTRUC  Nadine - 209 km</p>
        </li>
      </ul>



      <p><strong>Femme 40/99 ans</strong></p>
      <ul>
        <li>
          <p>GROS  Stéphanie - 760 km</p>
        </li>
        <li>
          <p>BREDARD Christelle - 568 km</p>
        </li>
        <li>
          <p>IVANOVA Elena - 459 km</p>
        </li>
        <li>
          <p>ROCHE Catherine - 315 km</p>
        </li>
        <li>
          <p>PICARD  Odette - 307 km</p>
        </li>
        <li>
          <p>Geiselhart Dagmar - 306 km</p>
        </li>
        <li>
          <p>BARTHE FRANQUIN  Isabelle - 297 km</p>
        </li>
        <li>
          <p>Bottaro Véronique - 291 km</p>
        </li>
        <li>
          <p>MRULA Elisabeth - 259 km</p>
        </li>
        <li>
          <p>TRIFT Caroline - 245 km</p>
        </li>
      </ul>

      <p><strong>Handisport</strong></p>
      <ul>
        <li>
          <p>GAILLARD Cshristophe - 838 km</p>
        </li>
        <li>
          <p>DEDIANNE Alain - 557 km</p>
        </li>
        <li>
          <p>ROSSIGNOL Yannick - 330 km</p>
        </li>
        <li>
          <p>SERRIERE SEBASTIEN - 80 km</p>
        </li>
      </ul>

    </div>
  </div>
</div>
</div>

<div class="lot-inside-text">
  <h2>Le Classement par Equipe <span style="border-bottom: 2px solid #F75100;">challenge Assurances Vélo</span></h2>
</div>


<div class="container">
  <div class="row">
    <div class="col-10 mx-auto">


      <p><strong>1ere place : TEAM BONNAT 91 / ASSURANCES VELO - 7050 km</strong></p>

      <ul>
        <li>
          <p>LEBAS SEBASTIEN</p>
        </li>
        <li>
          <p>GALLOY DIDIER</p>
        </li>
        <li>
          <p>DESCHAMPS GUILLAUME</p>
        </li>
        <li>
          <p>VALLET THIBAUD</p>
        </li>
        <li>
          <p>GAUDELET EDDIE</p>
        </li>
        <li>
          <p>BOUCHARIN Christian</p>
        </li>
        <li>
          <p>DELLAI GIOVANNI</p>
        </li>
        <li>
          <p>LABUSSIERE JEAN LUC</p>
        </li>
        <li>
          <p>SACACHE ALEXANDRE</p>
        </li>
        <li>
          <p>LACHUISA CEDRIC</p>
        </li>
      </ul>



      <p><strong>2eme place :  Team Formissa - 4290 km</strong></p>

      <ul>
        <li>
          <p>GUIRAUD Cédric</p>
        </li>
        <li>
          <p>MALAVELLE Stéphane</p>
        </li>
        <li>
          <p>MARCELINO Benoit</p>
        </li>
        <li>
          <p>OBENICHE Gilles</p>
        </li>
        <li>
          <p>OBENICHE Yannick</p>
        </li>
        <li>
          <p>MONZY Frederic</p>
        </li>
        <li>
          <p>VIARS Sébastien</p>
        </li>
        <li>
          <p>BOUCHET Christophe</p>
        </li>
        <li>
          <p>ARTIGUE Fabrice</p>
        </li>
        <li>
          <p>LAMOTHE Patrice</p>
        </li>
        <li>
          <p>ESPIE Guillaume</p>
        </li>
        <li>
          <p>NADJAR Romain</p>
        </li>
        <li>
          <p>MARIN Frédéric</p>
        </li>
      </ul>


      <p><strong>3eme place :  Team BG - 3300 km</strong></p>

      <ul>
        <li>
          <p>BIZE Jérôme</p>
        </li>
        <li>
          <p>BERNARD Sylvain</p>
        </li>
        <li>
          <p>ALBERI Marc</p>
        </li>
        <li>
          <p>SOETEMONT Régis</p>
        </li>
        <li>
          <p>ROSSIGNOL Yannick</p>
        </li>
        <li>
          <p>LOZE Lionel</p>
        </li>
        <li>
          <p>AURIEL Jérôme</p>
        </li>
        <li>
          <p>MARCHENAY Philippe</p>
        </li>
        <li>
          <p>MENARD Franck</p>
        </li>
        <li>
          <p>COUE José</p>
        </li>
      </ul>

      <p><strong>4eme place : CC Les copains - 3079 km</strong></p>

      <ul>
        <li>
          <p>CHANTELAUZE  CORINNE</p>
        </li>
        <li>
          <p>DURAND SYLVAIN</p>
        </li>
        <li>
          <p>REYROLLE THOMAS</p>
        </li>
        <li>
          <p>REYROLLE ADRIEN</p>
        </li>
        <li>
          <p>BITON JEAN CLAUDE</p>
        </li>
        <li>
          <p>RODARY THIERRY</p>
        </li>
        <li>
          <p>MOREL GEORGES</p>
        </li>
        <li>
          <p>PIOT BERNARD</p>
        </li>
        <li>
          <p>DISSARD DANIEL</p>
        </li>
      </ul>


      <p><strong>5eme place : CYCLOS COURNON D'AUVERGNE - 2660 km</strong></p>

      <ul>
        <li>
          <p>BOUGIE-VALLET MARIE-HÉLÈNE</p>
        </li>
        <li>
          <p>ROSIÈRE LIONEL</p>
        </li>
        <li>
          <p>DURAND FABRICE</p>
        </li>
        <li>
          <p>NOIZIER  THIERRY</p>
        </li>
        <li>
          <p>ADELL RAPHAËL</p>
        </li>
        <li>
          <p>BARTHELEMY DANIEL</p>
        </li>
        <li>
          <p>SANTIA ANDREWS ÉRIC</p>
        </li>
        <li>
          <p>PAGÈS ÉRIC</p>
        </li>
        <li>
          <p>LECOIN PHILIPPE</p>
        </li>
        <li>
          <p>CHAPELON JACKY</p>
        </li>
        <li>
          <p>MOULIN MICHEL</p>
        </li>
        <li>
          <p></p>
        </li>
        <li>
          <p>PAULHAC KARINE</p>
        </li>
        <li>
          <p>TALON NICOLAS</p>
        </li>
        <li>
          <p>PRIEUR OLIVIER</p>
        </li>
        <li>
          <p>ALAUX CHRISTIAN</p>
        </li>
        <li>
          <p>CHASSAING BRUNO</p>
        </li>
        <li>
          <p>VIVIER MICHEL</p>
        </li>
        <li>
          <p>RIVA BERNARD</p>
        </li>
        <li>
          <p>VIDAL RENÉ</p>
        </li>
        <li>
          <p>ALBARET JEAN CLAUDE</p>
        </li>
      </ul>

      <p><strong>6eme place : NL - 2500 km</strong></p>

      <ul>
        <li>
          <p>LYBAERT Wannes</p>
        </li>
        <li>
          <p>GEYSSANT Lucas</p>
        </li>
        <li>
          <p>REBOUL Jean-Bosco</p>
        </li>
        <li>
          <p>BAERT Dennis</p>
        </li>
        <li>
          <p>LAURENT Timothée</p>
        </li>
        <li>
          <p>HYMONNET Romain</p>
        </li>
        <li>
          <p>PENNARUN Patrice</p>
        </li>
        <li>
          <p>PROVINS Sebastien</p>
        </li>
        <li>
          <p>SEGUIN Valentin</p>
        </li>
        <li>
          <p>BAU André</p>
        </li>
        <li>
          <p>EVEILLARD Thomas</p>
        </li>
        <li>
          <p>LAIGNEAU Eric</p>
        </li>
        <li>
          <p>BERNARD Olivier</p>
        </li>
        <li>
          <p>BRIÈRE Ludovic</p>
        </li>
        <li>
          <p>MONOD Hervé</p>
        </li>
        <li>
          <p>ROCHE Catherine</p>
        </li>
        <li>
          <p>ROCHE Jean-François</p>
        </li>
        <li>
          <p>CHARON Damien</p>
        </li>
        <li>
          <p>NOURRY Julien</p>
        </li>
        <li>
          <p>TRAULLÉ Jean Marc</p>
        </li>
        <li>
          <p>BATTIGELLO Laurent</p>
        </li>
        <li>
          <p>BONORON Anne-Marie</p>
        </li>
      </ul>

      <p><strong>7eme place : BOISSEUIL UNION CYCLISTE - 2158 km</strong></p>

      <ul>
        <li>
          <p>BOWLEY THOMAS</p>
        </li>
        <li>
          <p>ROBIN TONY</p>
        </li>
        <li>
          <p>LAGRANGE BENOIT</p>
        </li>
        <li>
          <p>CELERIER FLORENT</p>
        </li>
        <li>
          <p>MOURET ANTOINE</p>
        </li>
        <li>
          <p>PARVERY PHILIPPE</p>
        </li>
        <li>
          <p>SALON ALEXIS</p>
        </li>
        <li>
          <p>DOUCET STEPHANE</p>
        </li>
        <li>
          <p>BOWLEY PHILIPPA</p>
        </li>
        <li>
          <p>BONNEAU JULIEN</p>
        </li>
        <li>
          <p>PREDIGNAC LAURENT</p>
        </li>
        <li>
          <p>DOUVILLE THIERRY</p>
        </li>
        <li>
          <p>SAZERAT JEAN LUC</p>
        </li>
        <li>
          <p>FAUCONNET PASCAL</p>
        </li>
        <li>
          <p>PASQUIER NOEL</p>
        </li>
        <li>
          <p>FAYAUD NICOLAS</p>
        </li>
        <li>
          <p>MAYERAS BERNARD</p>
        </li>
        <li>
          <p>CLAVAUD MARC</p>
        </li>
        <li>
          <p>RIBARDIERE CHRISTIAN</p>
        </li>
      </ul>


      <p><strong>8eme place : VCPA - 2124 km</strong></p>

      <ul>
        <li>
          <p>MARECHAL YVES</p>
        </li>
        <li>
          <p>GROSJEAN THIERRY</p>
        </li>
        <li>
          <p>BASSARD DAVID</p>
        </li>
        <li>
          <p>COLLARDEY MICKAEL</p>
        </li>
        <li>
          <p>THERY CHRISTOPHE</p>
        </li>
        <li>
          <p>CAREMENTRANT PASCAL</p>
        </li>
        <li>
          <p>BUREAU EDOUARD</p>
        </li>
        <li>
          <p>FOLLOT CHARLES</p>
        </li>
        <li>
          <p>CHASSAIS MARC</p>
        </li>
        <li>
          <p>THERY CHRISTOPHE</p>
        </li>
        <li>
          <p>AREMENTRA PASCAL</p>
        </li>
        <li>
          <p>GARROT REGIS</p>
        </li>
        <li>
          <p>VILLETARD HENRI</p>
        </li>
        <li>
          <p>TARTERET SEBASTIEN</p>
        </li>
        <li>
          <p>VALLEZ FRANCIS</p>
        </li>
        <li>
          <p>FAIVRE JEAN LOUIS</p>
        </li>
        <li>
          <p>BERTHAUD MARC</p>
        </li>
      </ul>




      <p><strong>9eme place : Cycloraptors - 1650 km</strong></p>

      <li>
        <p>BUAT Antoine</p>
      </li>
      <li>
        <p>DELIGNY Laurent</p>
      </li>
      <li>
        <p>GUINEE Eric</p>
      </li>
      <li>
        <p>TONDO Paulo</p>
      </li>
      <li>
        <p>SIBELLE Laure</p>
      </li>

      <p><strong>10eme place : Dassault Bordeaux Sport - 1650 km</strong></p>


      <li>
        <p>HERBRETEAU Stéphane</p>
      </li>
      <li>
        <p>CAVECCHIA Adrien</p>
      </li>
      <li>
        <p>GALLOIS Hervé</p>
      </li>
      <li>
        <p>TESSIER Florian</p>
      </li>
      <li>
        <p>VERDIERE Xavier</p>
      </li>



    </div>
  </div>
</div>
