<div class="lot-inside-header-image" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.05) 50%), url('<%= image_path "header-slide2.jpg" %>');">
</div>

<div class="lot-inside-text">
  <h2>Le Classement <span style="border-bottom: 2px solid #F75100;">challenge Assurances Vélo</span></h2>
</div>


<div class="container">
  <div class="row">
    <div class="col-10 mx-auto">

      <p><strong>Homme 18/29 ans</strong></p>
      <ul>
        <li>
          <p>SWIERCZYNSKI Baptiste</p>
        </li>
        <li>
          <p>TEREYGEOL Thomas</p>
        </li>
        <li>
          <p>DURINGER Anthony</p>
        </li>
        <li>
          <p>CABROL Yannick</p>
        </li>
        <li>
          <p>FERTONANI Adrien</p>
        </li>
        <li>
          <p>MARCOUX Rémi</p>
        </li>
        <li>
          <p>ROBO Mathieu</p>
        </li>
        <li>
          <p>GRANDET Mathieu</p>
        </li>
        <li>
          <p>MANCHON Arnaud</p>
        </li>
        <li>
          <p>ROBBE Alexandre</p>
        </li>
      </ul>

      <p><strong>Homme 30/39 ans</strong></p>
      <ul>
        <li>
          <p>SAILLARD Cyrille</p>
        </li>
        <li>
          <p>DESTOOP Brecht</p>
        </li>
        <li>
          <p>POLI Alessandro</p>
        </li>
        <li>
          <p>CHERIAUX Brice</p>
        </li>
        <li>
          <p>LASSALLE Denis</p>
        </li>
        <li>
          <p>DENIS Jonathan</p>
        </li>
        <li>
          <p>TANDART David</p>
        </li>
        <li>
          <p>DECOSTER Dries</p>
        </li>
        <li>
          <p>VANACKER Joachim</p>
        </li>
        <li>
          <p>DUFOSSE Fabien</p>
        </li>
      </ul>

      <p><strong>Homme 40/49 ans</strong></p>
      <ul>
        <li>
          <p>LEBAS Sébastien</p>
        </li>
        <li>
          <p>DE VECCHI David</p>
        </li>
        <li>
          <p>PANNECOUCKE Wesley</p>
        </li>
        <li>
          <p>POUILLET Stéphane</p>
        </li>
        <li>
          <p>CALMANT Sébastien</p>
        </li>
        <li>
          <p>DIEU Frédéric</p>
        </li>
        <li>
          <p>DAUPHIN Guy</p>
        </li>
        <li>
          <p>NOEL Serge</p>
        </li>
        <li>
          <p>ANTONIOU Benoit</p>
        </li>
        <li>
          <p>CUQ Jean Christ</p>
        </li>
      </ul>


      <p><strong>Homme 50/59</strong></p>
      <ul>
        <li>
          <p>MONNERIE Jean Baptiste</p>
        </li>
        <li>
          <p>MARTIGNOLE Eric</p>
        </li>
        <li>
          <p>GAUDELET Eddie</p>
        </li>
        <li>
          <p>FERTONANI</p>
        </li>
        <li>
          <p>VAUDRAN Richard</p>
        </li>
        <li>
          <p>WACH Philippe</p>
        </li>
        <li>
          <p>VANDERHAEGEN Pascal</p>
        </li>
        <li>
          <p>DUPONT Stéphane</p>
        </li>
        <li>
          <p>MAUNY Jean Michel</p>
        </li>
        <li>
          <p>BRAN Adi</p>
        </li>
      </ul>

      <p><strong>Homme 60/99 ans</strong></p>
      <ul>
        <li>
          <p>TISSIER Thierry</p>
        </li>
        <li>
          <p>VERGEREAU Bernard</p>
        </li>
        <li>
          <p>GALMARD Claude</p>
        </li>
        <li>
          <p>CATROS Jacques</p>
        </li>
        <li>
          <p>SIMON Yves</p>
        </li>
        <li>
          <p>GIORGALLA Sergio</p>
        </li>
        <li>
          <p>LOUVEL Gilles</p>
        </li>
        <li>
          <p>VIDALIE Michel</p>
        </li>
        <li>
          <p>FARRUGIO Jean Pierre</p>
        </li>
        <li>
          <p>DE LA HOSSERAYE Guillaume</p>
        </li>
      </ul>



      <p><strong>Femme 18/29 ans</strong></p>
      <ul>
      <li>
        <p>BRAVARD Charlotte</p>
      </li>
      <li>
        <p>QUINIOU Marine</p>
      </li>
      <li>
        <p>POMARES Cindy</p>
      </li>
      <li>
        <p>NIDERCORNE Charlotte</p>
      </li>
      <li>
        <p>DONNAT BART Camille</p>
      </li>
      <li>
        <p>TIBIER Audrey</p>
      </li>
      <li>
        <p>DAVY Camille</p>
      </li>
      <li>
        <p>THIEBAUT Marie</p>
      </li>
      </ul>



      <p><strong>Femme 30/39 ans</strong></p>
      <ul>
      <li>
        <p>FLORET Claire</p>
      </li>
      <li>
        <p>BUZZI Alexia</p>
      </li>
      <li>
        <p>DE VECCHI Amélie</p>
      </li>
      <li>
        <p>THIEBAULT Marine</p>
      </li>
      <li>
        <p>MICHELET Christine</p>
      </li>
      <li>
        <p>CLEMENT Aline</p>
      </li>
      <li>
        <p>HAMON Valérie</p>
      </li>
      <li>
        <p>RICORD Pauline</p>
      </li>
      </ul>

      <p><strong>Femme 40/99 ans</strong></p>
      <ul>
        <li>
          <p>TRIFT Caroline</p>
        </li>
        <li>
          <p>DUCHESNE Célia</p>
        </li>
        <li>
          <p>HAGENBACH Sandrine</p>
        </li>
        <li>
          <p>GALMICHE Flore</p>
        </li>
        <li>
          <p>JACOB Sylviane</p>
        </li>
        <li>
          <p>LESCURE Sandrine</p>
        </li>
      </ul>




    </div>
  </div>
</div>
