<div class="lot-inside-header-image" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.05) 50%), url('<%= image_path "header-slide2.jpg" %>');">
</div>

<div class="lot-inside-text">
  <h2>Le Classement Individuel <span style="border-bottom: 2px solid #F75100;">challenge Assurances Vélo</span></h2>
</div>


<div class="container">
  <div class="row">
    <div class="col-10 mx-auto">

      <p><strong>Homme 18/29 ans</strong></p>
      <ul>
        <li>
          <p>SWIERCZYNSKI BAPTISTE - 380 km</p>
        </li>
        <li>
          <p>ESTEVES Romain - 350 km</p>
        </li>
        <li>
          <p>CABROL CLEMENT - 267 km</p>
        </li>
        <li>
          <p>DURINGER ANTHONY - 250 km</p>
        </li>
        <li>
          <p>DEYGAS AYMERIC - 250 km</p>
        </li>
        <li>
          <p>CABROL YANNICK - 245 km</p>
        </li>
        <li>
          <p>MARCOUX REMY - 245 km</p>
        </li>
        <li>
          <p>ROBO MATHIEU - 245 km</p>
        </li>
        <li>
          <p>Manchon Arnaud - 245 km</p>
        </li>
        <li>
          <p>ROBBE Alexandre - 245 km</p>
        </li>
      </ul>

      <p><strong>Homme 30/39 ans</strong></p>
      <ul>
        <li>
          <p>POLI Alessandro - 532 km</p>
        </li>
        <li>
          <p>DESTOOP Brecht - 532 km</p>
        </li>
        <li>
          <p>BESSON FREDERIC - 380 km</p>
        </li>
        <li>
          <p>SHAHMAEI NATHANAEL - 380 km</p>
        </li>
        <li>
          <p>MEUNIER LAURENT - 287 km</p>
        </li>
        <li>
          <p>ROUX-FOUILLET THOMAS - 282 km</p>
        </li>
        <li>
          <p>VANACKER JOACHIM - 262 km</p>
        </li>
        <li>
          <p>SECACHE ALEXANDRE - 250 km</p>
        </li>
        <li>
          <p>BORDE Etienne - 250 km</p>
        </li>
        <li>
          <p>CHERIAUX Brice - 250 km</p>
        </li>
      </ul>

      <p><strong>Homme 40/49 ans</strong></p>
      <ul>
        <li>
          <p>LEBAS SEBASTIEN - 679 km</p>
        </li>
        <li>
          <p>GRAMMAIRE BENOIT - 532 km</p>
        </li>
        <li>
          <p>CORTET STEPHANE - 532 km</p>
        </li>
        <li>
          <p>DE VECCHI David - 497 km</p>
        </li>
        <li>
          <p>DAUPHIN GUY - 485 km</p>
        </li>
        <li>
          <p>BRUERRE SEBASTIEN - 417 km</p>
        </li>
        <li>
          <p>HAMARD PASCAL - 417 km</p>
        </li>
        <li>
          <p>GUILMEAU Laurent - 402 km</p>
        </li>
        <li>
          <p>GARCIA DA SILVA FERNANDO - 402 km</p>
        </li>
        <li>
          <p>CROSNIER  Nicolas - 397 km</p>
        </li>
      </ul>


      <p><strong>Homme 50/59</strong></p>
      <ul>
        <li>
          <p>DUPONT STEPHANE - 679 km</p>
        </li>
        <li>
          <p>RENAUDIE DENIS - 679 km</p>
        </li>
        <li>
          <p>METAIS PHILIPPE - 679 km</p>
        </li>
        <li>
          <p>GAUDELET Eddie - 650 km</p>
        </li>
        <li>
          <p>MARTIGNOLE Eric - 532 km</p>
        </li>
        <li>
          <p>JABY ERIC - 402 km</p>
        </li>
        <li>
          <p>VANDERHAEGEN Pascal - 397 km</p>
        </li>
        <li>
          <p>BOUCHARIN Christian - 397 km</p>
        </li>
        <li>
          <p>RYCKBOSCH JAN - 380 km</p>
        </li>
        <li>
          <p>FABULET LAURENT - 380 km</p>
        </li>
      </ul>

      <p><strong>Homme 60/99 ans</strong></p>
      <ul>
        <li>
          <p>VIDALIE MICHEL - 650 km</p>
        </li>
        <li>
          <p>NAEGELY GUY - 564 km</p>
        </li>
        <li>
          <p>SIMON Yves - 397 km</p>
        </li>
        <li>
          <p>DELAYRE JEAN PAUL - 282 km</p>
        </li>
        <li>
          <p>BECAM Jean Yves - 270 km</p>
        </li>
        <li>
          <p>NICOLLE FRANCOIS - 265 km</p>
        </li>
        <li>
          <p>BONNEAU RICHARD - 265 km</p>
        </li>
        <li>
          <p>LEPINE JEAN - 265 km</p>
        </li>
        <li>
          <p>GIORGALLA SERGE - 250 km</p>
        </li>
        <li>
          <p>TISSIER Thierry - 245 km</p>
        </li>
      </ul>



      <p><strong>Femme 18/29 ans</strong></p>
      <ul>
        <li>
          <p>TIBIER AUDREY - 380 km</p>
        </li>
        <li>
          <p>POMARES Cindy - 245 km</p>
        </li>
        <li>
          <p>NIDERCORNE Charlotte - 245 km</p>
        </li>
        <li>
          <p>CHARPENTIER CHLOE - 135 km</p>
        </li>
        <li>
          <p>LOLLIEROU  Elodie - 130km</p>
        </li>
        <li>
          <p>BIDEAU  Sandrine - 130km</p>
        </li>
        <li>
          <p>COCHET  Camille - 130km</p>
        </li>
        <li>
          <p>ROGER  Hugoline - 130km</p>
        </li>
        <li>
          <p>NOURY Coralie - 130km</p>
        </li>
      </ul>



      <p><strong>Femme 30/39 ans</strong></p>
      <ul>
        <li>
          <p>DE VECCHI Amélie - 397 km</p>
        </li>
        <li>
          <p>RICORD Pauline - 340 km</p>
        </li>
        <li>
          <p>BERINGER Magali - 235 km</p>
        </li>
        <li>
          <p>GAUBERT Aurélie - 130 km</p>
        </li>
        <li>
          <p>MARCELLAUD Heddy - 130 km</p>
        </li>
        <li>
          <p>FLORET Claire - 115 km</p>
        </li>
        <li>
          <p>BUZZI Alexia - 115 km</p>
        </li>
      </ul>



      <p><strong>Femme 40/99 ans</strong></p>
      <ul>
        <li>
          <p>TRIFT Caroline - 245 km</p>
        </li>
        <li>
          <p>GALMICHE Flore - 245 km</p>
        </li>
        <li>
          <p>DECHAMP Carole - 245 km</p>
        </li>
        <li>
          <p>BECAM Sylviane - 223 km</p>
        </li>
        <li>
          <p>THUREAU Gisèle - 223 km</p>
        </li>
        <li>
          <p>GROS Stéphanie - 130 km</p>
        </li>
        <li>
          <p>GARDEY Delphine - 130 km</p>
        </li>
        <li>
          <p>BREDARD Christelle - 130 km</p>
        </li>
        <li>
          <p>DEKER Delphine - 130 km</p>
        </li>
      </ul>

      <p><strong>Handisport</strong></p>
      <ul>
        <li>
          <p>GAILLARD Christophe - 527 km</p>
        </li>
        <li>
          <p>DEDIANNE Alain - 485 km</p>
        </li>
      </ul>

    </div>
  </div>
</div>
</div>

<!-- <div class="lot-inside-text">
  <h2>Le Classement par Equipe <span style="border-bottom: 2px solid #F75100;">challenge Assurances Vélo</span></h2>
</div>


<div class="container">
  <div class="row">
    <div class="col-10 mx-auto">

      <p><strong>1ere place : ACBB - 1430 km</strong></p>

      <ul>
        <li>
          <p>LEMOUR Lionel</p>
        </li>
        <li>
          <p>CLINCHAMPS Franck</p>
        </li>
        <li>
          <p>POUILLOUX Serge</p>
        </li>
        <li>
          <p>MILLIES LACROIX Olivier</p>
        </li>
        <li>
          <p>MELLOT Agnes</p>
        </li>
        <li>
          <p>VIALETTES Charles</p>
        </li>
        <li>
          <p>FOURNET Arnaud</p>
        </li>
        <li>
          <p>ANTONIOU Benoit</p>
        </li>
        <li>
          <p>ROUX Pierre-Yves</p>
        </li>
        <li>
          <p>CUILLERET Bertrand</p>
        </li>
        <li>
          <p>TISON Stéphane</p>
        </li>
      </ul>

      <p><strong>2eme place : TEAM BONNAT 91 - 1425 km</strong></p>

      <ul>
        <li>
          <p>LEBAS SEBASTIEN</p>
        </li>
        <li>
          <p>GALLOY DIDIER</p>
        </li>
        <li>
          <p>DESCHAMPS GUILLAUME</p>
        </li>
        <li>
          <p>VALLET THIBAUD</p>
        </li>
        <li>
          <p>GAUDELET EDDIE</p>
        </li>
        <li>
          <p>BOUCHARIN Christian</p>
        </li>
      </ul>

      <p><strong>3eme place : TMC 91 - 1300 km</strong></p>

      <ul>
        <li>
          <p>MACHADO Jérémy</p>
        </li>
        <li>
          <p>PECHEUX Richard</p>
        </li>
        <li>
          <p>MAIRE Didier</p>
        </li>
        <li>
          <p>METTENDORF Laurent</p>
        </li>
        <li>
          <p>PETOT Bruno</p>
        </li>
        <li>
          <p>PANZA Bruno</p>
        </li>
        <li>
          <p>HAMON Alain</p>
        </li>
        <li>
          <p>MARICEL Georges</p>
        </li>
        <li>
          <p>NIDERCORNE Charlotte</p>
        </li>
        <li>
          <p>LARRIEU Laurent</p>
        </li>
      </ul>




      <p><strong>4eme place : PCO - 1225 km</strong></p>

      <ul>
        <li>
          <p>SHAHMAEI Nathanaël</p>
        </li>
        <li>
          <p>CUQ Jean Christ</p>
        </li>
        <li>
          <p>MARTIGNOLE Eric</p>
        </li>
        <li>
          <p>GIORGALLA Sergio</p>
        </li>
        <li>
          <p>DANG Stéphane</p>
        </li>
        <li>
          <p>Monnier Gerard</p>
        </li>
        <li>
          <p>VIS Romain</p>
        </li>
      </ul>




      <p><strong>5eme place : France police - 1170 km</strong></p>

      <ul>
        <li>
          <p>LORIOUX Alexandre</p>
        </li>
        <li>
          <p>LECLERC Julien</p>
        </li>
        <li>
          <p>JANNIN Sebastien</p>
        </li>
        <li>
          <p>SALOU Cédric</p>
        </li>
        <li>
          <p>NOURY Coralie</p>
        </li>
        <li>
          <p>ABAUTET Pauline</p>
        </li>
        <li>
          <p>FABIEN Lisa</p>
        </li>
        <li>
          <p>GOUPY Tifany</p>
        </li>
        <li>
          <p>GARDEY Delphine</p>
        </li>
      </ul>



      <p><strong>6eme place : Team Peltrax - 1170 km</strong></p>

      <ul>
        <li>
          <p>GRANDET Mathieu</p>
        </li>
        <li>
          <p>LEGRAND Mathieu</p>
        </li>
        <li>
          <p>LE ROUX Alexandre</p>
        </li>
        <li>
          <p>LE NEUN Florian</p>
        </li>
        <li>
          <p>DUPUIS Clément</p>
        </li>
        <li>
          <p>DE VIDO Bastien</p>
        </li>
        <li>
          <p>SAILLARD Cyrille</p>
        </li>
        <li>
          <p>GUILLAUME Jean Charles</p>
        </li>
        <li>
          <p>LEGRAND Stéphane</p>
        </li>
      </ul>



    </div>
  </div>
</div> -->
