<div class="lot-inside-header-image" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.05) 50%), url('<%= image_path "header-slide2.jpg" %>');">
</div>

<div class="lot-inside-text">
  <h2>Le Classement Individuel <span style="border-bottom: 2px solid #F75100;">challenge Assurances Vélo</span></h2>
</div>


<div class="container">
  <div class="row">
    <div class="col-10 mx-auto">

      <p><strong>Homme 18/29 ans</strong></p>
      <ul>
        <li>
          <p>CABROL YANNICK - 1085 km</p>
        </li>
        <li>
          <p>CABROL Clement - 597 km</p>
        </li>
        <li>
          <p>RENAUDIN Jérémy - 445 km</p>
        </li>
        <li>
          <p>MARTIN Alexandre - 434 km</p>
        </li>
        <li>
          <p>DURINGER ANTHONY - 406 km</p>
        </li>
        <li>
          <p>SWIERCZYNSKI BAPTISTE - 380 km</p>
        </li>
        <li>
          <p>ESTEVES Romain - 350 km</p>
        </li>
        <li>
          <p>BERLIN Antoine - 320 km</p>
        </li>
        <li>
          <p>PEDRENO MAXENCE - 291 km</p>
        </li>
        <li>
          <p>AUCLERC LUCAS - 291 km</p>
      </ul>

      <p><strong>Homme 30/39 ans</strong></p>
      <ul>
        <li>
          <p>DESTOOP Brecht - 1173 km</p>
        </li>
        <li>
          <p>POLI Alessandro - 688 km</p>
        </li>
        <li>
          <p>SECACHE ALEXANDRE - 558 km</p>
        </li>
        <li>
          <p>TOMOWIAK Adrien - 485 km</p>
        </li>
        <li>
          <p>QUINTANE Mathieu - 445 km</p>
        </li>
        <li>
          <p>BESSON FREDERIC - 380 km</p>
        </li>
        <li>
          <p>SHAHMAEI NATHANAEL - 380 km</p>
        </li>
        <li>
          <p>VERGNAUD FABIEN - 364 km</p>
        </li>
        <li>
          <p>QUEYCY MAXIME - 298 km</p>
        </li>
        <li>
          <p>DUMAS MICKAEL - 298 km</p>
        </li>
      </ul>

      <p><strong>Homme 40/49 ans</strong></p>
      <ul>
        <li>
          <p>LEBAS SEBASTIEN - 1719 km</p>
        </li>
        <li>
          <p>LABUSSIERE Jean Luc - 1537 km</p>
        </li>
        <li>
          <p>DAUPHIN GUY - 1179 km</p>
        </li>
        <li>
          <p>CORTET STEPHANE - 1052 km</p>
        </li>
        <li>
          <p>DE VECCHI David - 653 km</p>
        </li>
        <li>
          <p>GILARDINI Vincent  - 565 km</p>
        </li>
        <li>
          <p>GARCIA DA SILVA FERNANDO - 558 km</p>
        </li>
        <li>
          <p>GUILMEAU LAURENT - 557 km</p>
        </li>
        <li>
          <p>LESPAGNOL LAURENT  - 556 km</p>
        </li>
        <li>
          <p>GRAMMAIRE BENOIT - 532 km</p>
        </li>
      </ul>


      <p><strong>Homme 50/59</strong></p>
      <ul>
        <li>
          <p>GAUDELET Eddie - 1360 km</p>
        </li>
        <li>
          <p>DUPONT STEPHANE - 1199 km</p>
        </li>
        <li>
          <p>METAIS PHILIPPE - 1044 km</p>
        </li>
        <li>
          <p>RENAUDIE DENIS - 679 km</p>
        </li>
        <li>
          <p>BOSREDON Pierre - 577 km </p>
        </li>
        <li>
          <p>DAVID Jacques - 575 km</p>
        </li>
        <li>
          <p>BOUCHARIN Christian - 552 km</p>
        </li>
        <li>
          <p>MARTIGNOLE Eric - 532 km</p>
        </li>
        <li>
          <p>DE TROY Eric - 511 km</p>
        </li>
        <li>
          <p>CHARASSON Olivier - 448 km</p>
        </li>
      </ul>

      <p><strong>Homme 60/99 ans</strong></p>
      <ul>
        <li>
          <p>VIDALIE MICHEL - 1690 km</p>
        </li>
        <li>
          <p>NAEGELY GUY - 1604 km</p>
        </li>
        <li>
          <p>DELAYRE JEAN PAUL - 954 km</p>
        </li>
        <li>
          <p>SIMON Yves - 703 km</p>
        </li>
        <li>
          <p>DUMAZEL Jean-Paul - 448 km</p>
        </li>
        <li>
          <p>BONNEAU RICHARD - 421 km</p>
        </li>
        <li>
          <p>VALLADE  Eric - 380 km</p>
        </li>
        <li>
          <p>FRANCOIS PATRICK - 354 km</p>
        </li>
        <li>
          <p>MIR PATRICK - 330 km</p>
        </li>
        <li>
          <p>RIBEROT CHRISTIAN - 327 km</p>
        </li>
      </ul>


      <p><strong>Femme 18/29 ans</strong></p>
      <ul>
        <li>
          <p>TIBIER AUDREY - 380 km</p>
        </li>
        <li>
          <p>Yver Laurie - 291 km</p>
        </li>
        <li>
          <p>Armiroli Morgane - 277 km</p>
        </li>
        <li>
          <p>POMARES Cindy - 245 km</p>
        </li>
        <li>
          <p>NIDERCORNE Charlotte - 245 km</p>
        </li>
        <li>
          <p>LOLLIEROU  Elodie - 235 km</p>
        </li>
        <li>
          <p>NOURY Coralie - 230 km</p>
        </li>
        <li>
          <p>MILLOT CAROLINE - 180 km</p>
        </li>
        <li>
          <p>CHARPENTIER CHLOE - 135 km</p>
        </li>
      </ul>



      <p><strong>Femme 30/39 ans</strong></p>
      <ul>
        <li>
          <p>DE VECCHI Amélie - 397 km</p>
        </li>
        <li>
          <p>RICORD Pauline - 340 km</p>
        </li>
        <li>
          <p>Verdovati Stephanie - 306 km</p>
        </li>
        <li>
          <p>Rousseau Fabienne - 306 km</p>
        </li>
        <li>
          <p>Neukermans Griet - 306 km</p>
        </li>
        <li>
          <p>De saint jean Magdalena - 291 km</p>
        </li>
        <li>
          <p>Giraud Linda - 277 km</p>
        </li>
        <li>
          <p>BERINGER Magali - 235 km</p>
        </li>
      </ul>



      <p><strong>Femme 40/99 ans</strong></p>
      <ul>
        <li>
          <p>GROS  Stéphanie - 476 km</p>
        </li>
        <li>
          <p>BREDARD Christelle - 465 km</p>
        </li>
        <li>
          <p>IVANOVA Elena - 459 km</p>
        </li>
        <li>
          <p>Geiselhart Dagmar - 306 km</p>
        </li>
        <li>
          <p>Bottaro Véronique - 291 km</p>
        </li>
        <li>
          <p>TRIFT Caroline - 245 km</p>
        </li>
        <li>
          <p>GALMICHE Flore - 245 km</p>
        </li>
        <li>
          <p>DECHAMP Carole - 245 km</p>
        </li>
        <li>
          <p>GARDEY Delphine - 230 km</p>
        </li>
      </ul>

      <p><strong>Handisport</strong></p>
      <ul>
        <li>
          <p>GAILLARD Cshristophe - 838 km</p>
        </li>
        <li>
          <p>DEDIANNE Alain - 454 km</p>
        </li>
        <li>
          <p>ROSSIGNOL Yannick - 330 km</p>
        </li>
        <li>
          <p>SERRIERE SEBASTIEN - 80 km</p>
        </li>
      </ul>

    </div>
  </div>
</div>
</div>

<div class="lot-inside-text">
  <h2>Le Classement par Equipe <span style="border-bottom: 2px solid #F75100;">challenge Assurances Vélo</span></h2>
</div>


<div class="container">
  <div class="row">
    <div class="col-10 mx-auto">


      <p><strong>1ere place : TEAM BONNAT 91 / ASSURANCES VELO - 6340 km</strong></p>

      <ul>
        <li>
          <p>LEBAS SEBASTIEN</p>
        </li>
        <li>
          <p>GALLOY DIDIER</p>
        </li>
        <li>
          <p>DESCHAMPS GUILLAUME</p>
        </li>
        <li>
          <p>VALLET THIBAUD</p>
        </li>
        <li>
          <p>GAUDELET EDDIE</p>
        </li>
        <li>
          <p>BOUCHARIN Christian</p>
        </li>
        <li>
          <p>DELLAI GIOVANNI</p>
        </li>
        <li>
          <p>LABUSSIERE JEAN LUC</p>
        </li>
        <li>
          <p>SACACHE ALEXANDRE</p>
        </li>
        <li>
          <p>LACHUISA CEDRIC</p>
        </li>
      </ul>



      <p><strong>2eme place :  Team Formissa - 4290 km</strong></p>

      <ul>
        <li>
          <p>GUIRAUD Cédric</p>
        </li>
        <li>
          <p>MALAVELLE Stéphane</p>
        </li>
        <li>
          <p>MARCELINO Benoit</p>
        </li>
        <li>
          <p>OBENICHE Gilles</p>
        </li>
        <li>
          <p>OBENICHE Yannick</p>
        </li>
        <li>
          <p>MONZY Frederic</p>
        </li>
        <li>
          <p>VIARS Sébastien</p>
        </li>
        <li>
          <p>BOUCHET Christophe</p>
        </li>
        <li>
          <p>ARTIGUE Fabrice</p>
        </li>
        <li>
          <p>LAMOTHE Patrice</p>
        </li>
        <li>
          <p>ESPIE Guillaume</p>
        </li>
        <li>
          <p>NADJAR Romain</p>
        </li>
        <li>
          <p>MARIN Frédéric</p>
        </li>
      </ul>


      <p><strong>3eme place :  Team BG - 3300 km</strong></p>

      <ul>
        <li>
          <p>BIZE Jérôme</p>
        </li>
        <li>
          <p>BERNARD Sylvain</p>
        </li>
        <li>
          <p>ALBERI Marc</p>
        </li>
        <li>
          <p>SOETEMONT Régis</p>
        </li>
        <li>
          <p>ROSSIGNOL Yannick</p>
        </li>
        <li>
          <p>LOZE Lionel</p>
        </li>
        <li>
          <p>AURIEL Jérôme</p>
        </li>
        <li>
          <p>MARCHENAY Philippe</p>
        </li>
        <li>
          <p>MENARD Franck</p>
        </li>
        <li>
          <p>COUE José</p>
        </li>
      </ul>


      <p><strong>4eme place : CYCLOS COURNON D'AUVERGNE - 2660 km</strong></p>

      <ul>
        <li>
          <p>BOUGIE-VALLET MARIE-HÉLÈNE</p>
        </li>
        <li>
          <p>ROSIÈRE LIONEL</p>
        </li>
        <li>
          <p>DURAND FABRICE</p>
        </li>
        <li>
          <p>NOIZIER  THIERRY</p>
        </li>
        <li>
          <p>ADELL RAPHAËL</p>
        </li>
        <li>
          <p>BARTHELEMY DANIEL</p>
        </li>
        <li>
          <p>SANTIA ANDREWS ÉRIC</p>
        </li>
        <li>
          <p>PAGÈS ÉRIC</p>
        </li>
        <li>
          <p>LECOIN PHILIPPE</p>
        </li>
        <li>
          <p>CHAPELON JACKY</p>
        </li>
        <li>
          <p>MOULIN MICHEL</p>
        </li>
        <li>
          <p></p>
        </li>
        <li>
          <p>PAULHAC KARINE</p>
        </li>
        <li>
          <p>TALON NICOLAS</p>
        </li>
        <li>
          <p>PRIEUR OLIVIER</p>
        </li>
        <li>
          <p>ALAUX CHRISTIAN</p>
        </li>
        <li>
          <p>CHASSAING BRUNO</p>
        </li>
        <li>
          <p>VIVIER MICHEL</p>
        </li>
        <li>
          <p>RIVA BERNARD</p>
        </li>
        <li>
          <p>VIDAL RENÉ</p>
        </li>
        <li>
          <p>ALBARET JEAN CLAUDE</p>
        </li>
      </ul>



      <p><strong>5eme place : BOISSEUIL UNION CYCLISTE - 2124 km</strong></p>

      <ul>
        <li>
          <p>BOWLEY THOMAS</p>
        </li>
        <li>
          <p>ROBIN TONY</p>
        </li>
        <li>
          <p>LAGRANGE BENOIT</p>
        </li>
        <li>
          <p>CELERIER FLORENT</p>
        </li>
        <li>
          <p>MOURET ANTOINE</p>
        </li>
        <li>
          <p>PARVERY PHILIPPE</p>
        </li>
        <li>
          <p>SALON ALEXIS</p>
        </li>
        <li>
          <p>DOUCET STEPHANE</p>
        </li>
        <li>
          <p>BOWLEY PHILIPPA</p>
        </li>
        <li>
          <p>BONNEAU JULIEN</p>
        </li>
        <li>
          <p>PREDIGNAC LAURENT</p>
        </li>
        <li>
          <p>DOUVILLE THIERRY</p>
        </li>
        <li>
          <p>SAZERAT JEAN LUC</p>
        </li>
        <li>
          <p>FAUCONNET PASCAL</p>
        </li>
        <li>
          <p>PASQUIER NOEL</p>
        </li>
        <li>
          <p>FAYAUD NICOLAS</p>
        </li>
        <li>
          <p>MAYERAS BERNARD</p>
        </li>
        <li>
          <p>CLAVAUD MARC</p>
        </li>
        <li>
          <p>RIBARDIERE CHRISTIAN</p>
        </li>
      </ul>


      <p><strong>6eme place : VCPA - 1910 km</strong></p>

      <ul>
        <li>
          <p>MARECHAL YVES</p>
        </li>
        <li>
          <p>GROSJEAN THIERRY</p>
        </li>
        <li>
          <p>BASSARD DAVID</p>
        </li>
        <li>
          <p>COLLARDEY MICKAEL</p>
        </li>
        <li>
          <p>THERY CHRISTOPHE</p>
        </li>
        <li>
          <p>CAREMENTRANT PASCAL</p>
        </li>
        <li>
          <p>BUREAU EDOUARD</p>
        </li>
        <li>
          <p>FOLLOT CHARLES</p>
        </li>
        <li>
          <p>CHASSAIS MARC</p>
        </li>
        <li>
          <p>THERY CHRISTOPHE</p>
        </li>
        <li>
          <p>AREMENTRA PASCAL</p>
        </li>
        <li>
          <p>GARROT REGIS</p>
        </li>
        <li>
          <p>VILLETARD HENRI</p>
        </li>
        <li>
          <p>TARTERET SEBASTIEN</p>
        </li>
        <li>
          <p>VALLEZ FRANCIS</p>
        </li>
        <li>
          <p>FAIVRE JEAN LOUIS</p>
        </li>
        <li>
          <p>BERTHAUD MARC</p>
        </li>
      </ul>


      <p><strong>7eme place : CC Les copains - 1709 km</strong></p>

      <ul>
        <li>
          <p>CHANTELAUZE  CORINNE</p>
        </li>
        <li>
          <p>DURAND SYLVAIN</p>
        </li>
        <li>
          <p>REYROLLE THOMAS</p>
        </li>
        <li>
          <p>REYROLLE ADRIEN</p>
        </li>
        <li>
          <p>BITON JEAN CLAUDE</p>
        </li>
        <li>
          <p>RODARY THIERRY</p>
        </li>
        <li>
          <p>MOREL GEORGES</p>
        </li>
        <li>
          <p>PIOT BERNARD</p>
        </li>
        <li>
          <p>DISSARD DANIEL</p>
        </li>
      </ul>


      <p><strong>8eme place : Cycloraptors - 1605 km</strong></p>

      <li>
        <p>BUAT Antoine</p>
      </li>
      <li>
        <p>DELIGNY Laurent</p>
      </li>
      <li>
        <p>GUINEE Eric</p>
      </li>
      <li>
        <p>TONDO Paulo</p>
      </li>
      <li>
        <p>SIBELLE Laure</p>
      </li>

      <p><strong>9eme place : Dassault Bordeaux Sport - 1650 km</strong></p>


      <li>
        <p>HERBRETEAU Stéphane</p>
      </li>
      <li>
        <p>CAVECCHIA Adrien</p>
      </li>
      <li>
        <p>GALLOIS Hervé</p>
      </li>
      <li>
        <p>TESSIER Florian</p>
      </li>
      <li>
        <p>VERDIERE Xavier</p>
      </li>


      <p><strong>10eme place : INFO BIKE SUPPLYWEB - 1650 km</strong></p>

      <li>
        <p>LEROY Jérémy</p>
      </li>
      <li>
        <p>ALMEIDA Bruno</p>
      </li>
      <li>
        <p>DUCOBU Xavier</p>
      </li>
      <li>
        <p>VANDENVINNE Serge</p>
      </li>
      <li>
        <p>BARTZ Laurence</p>
      </li>


      <p><strong>11eme place : ASPTT BRIVE AGGLO - 1527 km</strong></p>

      <ul>
        <li>
          <p>ARVIS BAPTISTE</p>
        </li>
        <li>
          <p>SOL MARCEAU</p>
        </li>
        <li>
          <p>MOULY ETIENNE</p>
        </li>
        <li>
          <p>QUEYCY MAXIME</p>
        </li>
        <li>
          <p>CUTILLAS DIANE</p>
        </li>
        <li>
          <p>TIONOHOUE FLORIAN</p>
        </li>
        <li>
          <p>CLARE ALEX</p>
        </li>
        <li>
          <p>RIBEROT CHRISTIAN</p>
        </li>
        <li>
          <p>BOSREDON MATHIEU</p>
        </li>
      </ul>




      <p><strong>12eme place : ACBB - 1430 km</strong></p>

      <ul>
        <li>
          <p>LEMOUR Lionel</p>
        </li>
        <li>
          <p>CLINCHAMPS Franck</p>
        </li>
        <li>
          <p>POUILLOUX Serge</p>
        </li>
        <li>
          <p>MILLIES LACROIX Olivier</p>
        </li>
        <li>
          <p>MELLOT Agnes</p>
        </li>
        <li>
          <p>VIALETTES Charles</p>
        </li>
        <li>
          <p>FOURNET Arnaud</p>
        </li>
        <li>
          <p>ANTONIOU Benoit</p>
        </li>
        <li>
          <p>ROUX Pierre-Yves</p>
        </li>
        <li>
          <p>CUILLERET Bertrand</p>
        </li>
        <li>
          <p>TISON Stéphane</p>
        </li>
      </ul>



      <p><strong>13eme place : TEAM BEAUFORT - 1332 km</strong></p>

      <ul>
        <li>
          <p>Jasper VANSIELEGHEM</p>
        </li>
        <li>
          <p>Mario POPELIER</p>
        </li>
        <li>
          <p>Nick VANSIELEGHEM</p>
        </li>
        <li>
          <p>Kévin DE PRETER</p>
        </li>
        <li>
          <p>Patrick DE JONGHE</p>
        </li>
        <li>
          <p>Frank VANHULLE</p>
        </li>
        <li>
          <p>Ronny DEGRYSE</p>
        </li>
        <li>
          <p>Sophie VANROOSE</p>
        </li>
        <li>
          <p>Sylvie DEVELTER</p>
        </li>
        <li>
          <p>Michèle DE PRINCE</p>
        </li>
      </ul>


      <p><strong>14eme place : TMC 91 - 1300 km</strong></p>

      <ul>
        <li>
          <p>MACHADO Jérémy</p>
        </li>
        <li>
          <p>PECHEUX Richard</p>
        </li>
        <li>
          <p>MAIRE Didier</p>
        </li>
        <li>
          <p>METTENDORF Laurent</p>
        </li>
        <li>
          <p>PETOT Bruno</p>
        </li>
        <li>
          <p>PANZA Bruno</p>
        </li>
        <li>
          <p>HAMON Alain</p>
        </li>
        <li>
          <p>MARICEL Georges</p>
        </li>
        <li>
          <p>NIDERCORNE Charlotte</p>
        </li>
        <li>
          <p>LARRIEU Laurent</p>
        </li>
      </ul>



      <p><strong>15eme place : PCO - 1225 km</strong></p>

      <ul>
        <li>
          <p>SHAHMAEI Nathanaël</p>
        </li>
        <li>
          <p>CUQ Jean Christ</p>
        </li>
        <li>
          <p>MARTIGNOLE Eric</p>
        </li>
        <li>
          <p>GIORGALLA Sergio</p>
        </li>
        <li>
          <p>DANG Stéphane</p>
        </li>
        <li>
          <p>Monnier Gerard</p>
        </li>
        <li>
          <p>VIS Romain</p>
        </li>
      </ul>




      <p><strong>16eme place : France police - 1170 km</strong></p>

      <ul>
        <li>
          <p>LORIOUX Alexandre</p>
        </li>
        <li>
          <p>LECLERC Julien</p>
        </li>
        <li>
          <p>JANNIN Sebastien</p>
        </li>
        <li>
          <p>SALOU Cédric</p>
        </li>
        <li>
          <p>NOURY Coralie</p>
        </li>
        <li>
          <p>ABAUTET Pauline</p>
        </li>
        <li>
          <p>FABIEN Lisa</p>
        </li>
        <li>
          <p>GOUPY Tifany</p>
        </li>
        <li>
          <p>GARDEY Delphine</p>
        </li>
      </ul>



      <p><strong>17eme place : Team Peltrax - 1170 km</strong></p>

      <ul>
        <li>
          <p>GRANDET Mathieu</p>
        </li>
        <li>
          <p>LEGRAND Mathieu</p>
        </li>
        <li>
          <p>LE ROUX Alexandre</p>
        </li>
        <li>
          <p>LE NEUN Florian</p>
        </li>
        <li>
          <p>DUPUIS Clément</p>
        </li>
        <li>
          <p>DE VIDO Bastien</p>
        </li>
        <li>
          <p>SAILLARD Cyrille</p>
        </li>
        <li>
          <p>GUILLAUME Jean Charles</p>
        </li>
        <li>
          <p>LEGRAND Stéphane</p>
        </li>
      </ul>


      <p><strong>18eme place : Team Peltrax - 1062 km</strong></p>

      <ul>
        <li>
          <p>ARVIS BAPTISTE</p>
        </li>
        <li>
          <p>SOL MARCEAU</p>
        </li>
        <li>
          <p>MOULY ETIENNE</p>
        </li>
        <li>
          <p>QUEYCY MAXIME</p>
        </li>
        <li>
          <p>CUTILLAS DIANE</p>
        </li>
        <li>
          <p>TIONOHOUE FLORIAN</p>
        </li>
        <li>
          <p>CLARE ALEX</p>
        </li>
        <li>
          <p>RIBEROT CHRISTIAN</p>
        </li>
        <li>
          <p>BOSREDON MATHIEU</p>
        </li>
      </ul>

      <p><strong>19eme place : Team Mailleux - 1040 km</strong></p>

      <ul>
        <li>
          <p>BERWAERS Sébastien</p>
        </li>
        <li>
          <p>CALMANT Sébastien</p>
        </li>
        <li>
          <p>POIDLINS Didier</p>
        </li>
      </ul>

    </div>
  </div>
</div>
