<div class="lot-inside-header-image" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.05) 50%), url('<%= image_path "header-slide2.jpg" %>');">
</div>

<div class="lot-inside-text">
  <h2>Le Classement Individuel <span style="border-bottom: 2px solid #F75100;">challenge Assurances Vélo</span></h2>
</div>


<div class="container">
  <div class="row">
    <div class="col-10 mx-auto">

      <p><strong>Homme 18/29 ans</strong></p>
      <ul>
        <li>
          <p>DURINGER ANTHONY - 250 km</p>
        </li>
        <li>
          <p>SWIERCZYNSKI BAPTISTE - 250 km</p>
        </li>
        <li>
          <p>DUREUIL GAEL - 135 km</p>
        </li>
        <li>
          <p>VAN DEN BERGH MATTHIAS - 135 km</p>
        </li>
        <li>
          <p>PEDRENO MAXENCE - 135 km</p>
        </li>
        <li>
          <p>COZZI THEO - 135 km</p>
        </li>
        <li>
          <p>VERCOUTTER JONAS - 135 km</p>
        </li>
        <li>
          <p>MORAIS NICOLAS - 135 km</p>
        </li>
        <li>
          <p>AUCLERC LUCAS - 135 km</p>
        </li>
        <li>
          <p>SEGUIN VALENTIN - 135 km</p>
        </li>
      </ul>

      <p><strong>Homme 30/39 ans</strong></p>
      <ul>
        <li>
          <p>POLI Alessandro - 250 km</p>
        </li>
        <li>
          <p>DESTOOP Brecht - 250 km</p>
        </li>
        <li>
          <p>BESSON FREDERIC - 250 km</p>
        </li>
        <li>
          <p>SECACHE ALEXANDRE - 250 km</p>
        </li>
        <li>
          <p>SHAHMAEI NATHANAEL - 250 km</p>
        </li>
        <li>
          <p>SCHITTECATTE BRAM - 135 km</p>
        </li>
        <li>
          <p>THEYS KOEN - 135 km</p>
        </li>
        <li>
          <p>VANAWIER JOACHIM - 135 km</p>
        </li>
        <li>
          <p>ZOCCOLANTE DAVID - 135 km</p>
        </li>
        <li>
          <p>GILI GERALD - 135 km</p>
        </li>
      </ul>

      <p><strong>Homme 40/49 ans</strong></p>
      <ul>
        <li>
          <p>LEBAS SEBASTIEN - 250 km</p>
        </li>
        <li>
          <p>DAUPHIN GUY - 250 km</p>
        </li>
        <li>
          <p>DURAND JEAN-CHRISTOPHE - 250 km</p>
        </li>
        <li>
          <p>GUILMEAU LAURENT - 250 km</p>
        </li>
        <li>
          <p>JOUBERT BRUNO - 250 km</p>
        </li>
        <li>
          <p>CORTET STEPHANE - 250 km</p>
        </li>
        <li>
          <p>LARCHEVEQUE FABRICE - 250 km</p>
        </li>
        <li>
          <p>GRAMMAIRE BENOIT - 250 km</p>
        </li>
        <li>
          <p>GARCIA DA SILVA FERNANDO - 250 km</p>
        </li>
        <li>
          <p>WIELFAERT KRISTOF - 135 km</p>
        </li>
      </ul>


      <p><strong>Homme 50/59</strong></p>
      <ul>
        <li>
          <p>MARTIGNOLE Eric - 250 km</p>
        </li>
        <li>
          <p>GAUDELET Eddie - 250 km</p>
        </li>
        <li>
          <p>RYCKBOSCH JAN - 250 km</p>
        </li>
        <li>
          <p>GARCIA JUAN - 250 km</p>
        </li>
        <li>
          <p>RENAUDIE DENIS - 250 km</p>
        </li>
        <li>
          <p>DUPONT STEPHANE - 250 km</p>
        </li>
        <li>
          <p>METAIS PHILIPPE - 250 km</p>
        </li>
        <li>
          <p>FABULET LAURENT - 250 km</p>
        </li>
        <li>
          <p>DUCHENE SYLVAIN - 250 km</p>
        </li>
        <li>
          <p>JABY ERIC - 250 km</p>
        </li>
      </ul>

      <p><strong>Homme 60/99 ans</strong></p>
      <ul>
        <li>
          <p>GIORGALLA SERGE - 250 km</p>
        </li>
        <li>
          <p>VIDALIE MICHEL - 250 km</p>
        </li>
        <li>
          <p>LAHOUSSINE CLAUDE - 135 km</p>
        </li>
        <li>
          <p>BARDIN PHILIPPE - 135 km</p>
        </li>
        <li>
          <p>CUNEY YGOR - 135 km</p>
        </li>
        <li>
          <p>DE BOKX MARC - 135 km</p>
        </li>
        <li>
          <p>TIMBERT PATRICK - 135 km</p>
        </li>
        <li>
          <p>NICOLLE FRANCOIS - 135 km</p>
        </li>
        <li>
          <p>TONNEAU PATRICK - 135 km</p>
        </li>
        <li>
          <p>BONNEAU RICHARD - 135 km</p>
        </li>
      </ul>



      <p><strong>Femme 18/29 ans</strong></p>
      <ul>
        <li>
          <p>TIBIER AUDREY - 250 km</p>
        </li>
        <li>
          <p>CHARPENTIER CHLOE - 135 km</p>
        </li>
        <li>
          <p>BRAVARD Charlotte - 115 km</p>
        </li>
        <li>
          <p>QUINIOU Marine - 115 km</p>
        </li>
        <li>
          <p>POMARES Cindy - 115 km</p>
        </li>
        <li>
          <p>NIDERCORNE Charlotte - 115 km</p>
        </li>
        <li>
          <p>DONNAT BART Camille - 115 km</p>
        </li>
        <li>
          <p>DAVY Camille - 115 km</p>
        </li>
        <li>
          <p>TIBIER Audrey - 115 km</p>
        </li>
      </ul>



      <p><strong>Femme 30/39 ans</strong></p>
      <ul>
        <li>
          <p>RICORD Pauline - 219 km</p>
        </li>
        <li>
          <p>FLORET Claire - 115 km</p>
        </li>
        <li>
          <p>BUZZI Alexia - 115 km</p>
        </li>
        <li>
          <p>DE VECCHI Amélie - 115 km</p>
        </li>
        <li>
          <p>THIEBAULT Marine - 115 km</p>
        </li>
        <li>
          <p>MICHELET Christine - 115 km</p>
        </li>
        <li>
          <p>CLEMENT Aline - 115 km</p>
        </li>
        <li>
          <p>HAMON Valérie - 115 km</p>
        </li>
      </ul>

      <p><strong>Femme 40/99 ans</strong></p>
      <ul>
        <li>
          <p>DECHAMP Carole - 115 km</p>
        </li>
        <li>
          <p>TRIFT Caroline - 115 km</p>
        </li>
        <li>
          <p>DUCHESNE Célia - 115 km</p>
        </li>
        <li>
          <p>HAGENBACH Sandrine - 115 km</p>
        </li>
        <li>
          <p>GALMICHE Flore - 115 km</p>
        </li>
        <li>
          <p>JACOB Sylviane - 115 km</p>
        </li>
        <li>
          <p>LESCURE Sandrine - 115 km</p>
        </li>
      </ul>

      <p><strong>Handisport</strong></p>
      <ul>
        <li>
          <p>GAILLARD Christophe - 250 km</p>
        </li>
        <li>
          <p>DEDIANNE Alain - 230 km</p>
        </li>
        </ul>

      </div>
    </div>
  </div>
</div>

<div class="lot-inside-text">
  <h2>Le Classement par Equipe <span style="border-bottom: 2px solid #F75100;">challenge Assurances Vélo</span></h2>
</div>


<div class="container">
  <div class="row">
    <div class="col-10 mx-auto">


      <p><strong>1ere place : ETOILE CYCLISTE FONTENAYSIENNE - 945 km</strong></p>

      <ul>
        <li>
          <p>DURAND JEAN-CHRISTOPHE</p>
        </li>
        <li>
          <p>THEROND FRANCK</p>
        </li>
        <li>
          <p>BOURGIER BERTRAND</p>
        </li>
        <li>
          <p>LARCHEVEQUE FABRICE</p>
        </li>
        <li>
          <p>BODIN IVAN</p>
        </li>
        <li>
          <p>PUICERCUS JOSE</p>
        </li>
        <li>
          <p>LE DREAN THIERRY</p>
        </li>
      </ul>

      <p><strong>2eme place : TRI AVENTURE - 945 km</strong></p>

      <ul>
        <li>
          <p>VILLARD SAMUEL</p>
        </li>
        <li>
          <p>COUDANE VINCENT</p>
        </li>
        <li>
          <p>PRIMAULT JEAN MARC</p>
        </li>
        <li>
          <p>BONTEMPS YVES</p>
        </li>
        <li>
          <p>NOBILET LAURENT</p>
        </li>
        <li>
          <p>MARGUERIE CHRISTOPHE</p>
        </li>
      </ul>


      <p><strong>3eme place : TEAM BONNAT 91 - 905 km</strong></p>

      <ul>
        <li>
          <p>LEBAS SEBASTIEN</p>
        </li>
        <li>
          <p>GALLOY DIDIER</p>
        </li>
        <li>
          <p>DESCHAMPS GUILLAUME</p>
        </li>
        <li>
          <p>VALLET THIBAUD</p>
        </li>
        <li>
          <p>GAUDELET EDDIE</p>
        </li>
      </ul>

      <p><strong>4eme place :  VELO CLUB POUILLY EN AUXOIS - 810 km</strong></p>

      <ul>
        <li>
          <p>MARECHAL YVES</p>
        </li>
        <li>
          <p>GROSJEAN THIERRY</p>
        </li>
        <li>
          <p>BASSARD DAVID</p>
        </li>
        <li>
          <p>COLLARDEY MICKAEL</p>
        </li>
        <li>
          <p>THERY CHRISTOPHE</p>
        </li>
        <li>
          <p>CAREMENTRANT PASCAL</p>
        </li>
      </ul>

      <p><strong>5eme place :  VELO CLUB POUILLY EN AUXOIS - 805 km</strong></p>

      <ul>
        <li>
          <p>FLORET Claire</p>
        </li>
        <li>
          <p>BUZZI Alexia</p>
        </li>
        <li>
          <p>BASSARD DAVID</p>
        </li>
        <li>
          <p>POMARES Cindy</p>
        </li>
        <li>
          <p>THIEBAULT Marine</p>
        </li>
        <li>
          <p>CLEMENT Aline</p>
        </li>
        <li>
          <p>HAMON Valérie</p>
        </li>
        <li>
          <p>RICORD Pauline</p>
        </li>
      </ul>



        </div>
      </div>
    </div>
