
<script>
 (function() {
   ga('require', 'ecommerce');
   ga('ecommerce:addTransaction', {
     'id': '1',
     'revenue': '40',
   });
   ga('ecommerce:addItem', {
     'id': '1',
     'name': 'Basket',
     'category': 'Chaussures',
     'price': '150',
     'quantity': '1'
   });
   ga('ecommerce:send');
 })();
 </script>


<div class="lot-inside-header-image">
</div>

<div class="lot-inside-text">
  <h2>Le Réglement du <span style="border-bottom: 2px solid #F75100;">challenge Assurances Vélo</span></h2>
</div>


<div class="container">
  <div class="row">
    <div class="col-10 mx-auto">
      <p>
        <p>
         1 ère ETAPE : <strong>LA JACQUES GOUIN</strong> le 4 mars <br>
         2 ème ETAPE : <strong>LA MORVANDELLE </strong>le 7 avril <br>
         3 ème ETAPE : <strong>LA VELOSTAR </strong>le 1 er mai <br>
         4 ème ETAPE : <strong>LA MERCAN’TOUR LADIES</strong> le 6 mai <br>
         5 ème ETAPE : <strong>LA GAILLARDE DE CARVALHO</strong> le 13 mai <br>
         6 ème ETAPE : <strong>LA CYCLO DES BOUCLES DE LA MARNE</strong> le 27 mai <br>
         7 ème ETAPE : <strong>LA CLAUDIO CHIAPPUCCI</strong> le 2 juin <br>
         8 ème ETAPE : <strong>LA MARMOTTE D'OLT</strong> le 3 Juin <br>
         9 ème ETAPE : <strong>LA MERCAN’TOUR BONETTE</strong> le 17 Juin <br>
         10 ème ETAPE : <strong>LES COPAINS CYFAC </strong>du 29 juin au 1<sup> </sup>er juillet <br>
         11 ème ETAPE : <strong>LA PERIGORDINE</strong> le 8 Juillet <br>
         12 ème ETAPE : <strong>LA CAMPILARO PYRENEES</strong> du 20 au 22 juillet <br>
         13 ème ETAPE : <strong>LA PIERRE CHANY</strong> le 4 aout <br>
         14 ème ETAPE : <strong>LA JEAN FRANCOIS BERNARD </strong>le 19 aout <br>
         15 ème ETAPE : <strong>LES MONTS DE L AUXOIS</strong> le 9 septembre <br>
         16 ème ETAPE : <strong>LA GUADLOUPEENNE</strong> le 27 octobre 2018
       </p>
       <p>
         <strong>1°) LES CONDITIONS DE PARTICIPATION AU CLASSEMENT DU CHALLENGE</strong>
       </p>
       <p>
         Ce Trophée est ouvert à toutes et tous, majeur(e)s, licencié(e)s possédant
         une licence délivrée par une fédération autorisant la pratique du cyclisme
         de compétition (FFC, UFOLEP, FSGT, FFTri, FF Handisport, FFCT)
         <br/>
         Sont exclus du classement du CHALLENGE ASSURANCES VELO les 1ères et 2ème
         catégories FFC ainsi que les cyclosportifs qui délivreront le jour de
         l’épreuve un simple certificat médical.
       </p>
       <p>
         <strong>2°) ENGAGEMENTS</strong>
       </p>
       <p>
         En participant à une cyclosportive du Challenge Assurances Vélo, tout
         participant est automatiquement inscrit au classement du Challenge
         Assurances Vélo.
       </p>
       <p>
         <strong>3°) CATEGORIES</strong>
       </p>
       <p>
         L'âge de chacun est déterminé par rapport à l'année de naissance. Les
         Catégories se présentent comme suit :
       </p>

       <table class="table table-dark" style="text-align:center; background-color: #222222 !important; color: white;">
         <thead style="font-weight:bold">
           <tr>
             <td>Homme</td>
             <td>Femme</td>
             <td>Handisport</td>
           </tr>
         </thead>
         <tbody>
           <tr>
             <td>18 ans / 29 ans</td>
             <td>18 ans / 39 ans</td>
             <td>18 ans et plus</td>
           </tr>
           <tr>
             <td>30 ans / 39 ans</td>
             <td>40 ans / 49 ans</td>
             <td>-</td>
           </tr>
           <tr>
             <td>40 ans / 49 ans</td>
             <td>50 ans et plus</td>
             <td>-</td>
           </tr>
           <tr>
             <td>50 ans / 59 ans</td>
             <td>-</td>
             <td>-</td>
           </tr>
           <tr>
             <td>60 ans et plus</td>
             <td>-</td>
             <td>-</td>
           </tr>
         </tbody>
       </table>

       <p>
         <strong>4°) CLASSEMENTS</strong>
       </p>
       <p>
         Le classement Général du Challenge se fera en fonction de 2 critères :
         <br/>
         <br/>
         - 1er Critère : le cumule des kilomètres parcourus Etapes après Etapes du
         Challenge sans distinction grands et petits parcours et si besoin,
         <br/>
         <br/>
         - 2nd Critère : la place dans la catégorie ou il faut avoir le plus petit
         chiffre pour se départager avec un ex aequo.
         <br/>
         <br/>
         - M. GHISLAIN fait les 2 premières Etapes du Challenge et ses places dans
         sa catégorie sont 5ème et 2ème
         <br/>
         dans sa catégorie soit 115 + 104 (petits parcours) = 219 points
         <br/>
         Soit 5 + 2 = 7
         <br/>
         <br/>
         - M. LAMBERT fait les 2 premières Etapes du Challenge et ses places dans sa
         catégorie sont 4ème et 6ème
         <br/>
         Soit 115 km + 104 km (petits parcours) = 219 pts
         <br/>
         Soit 4+6 = 10
         <br/>
         <br/>
         Donc le leader est M. GHISLAIN car il a le plus petit score 7 contre 10
       </p>
       <p>
         <strong>5°) CLASSEMENT PAR EQUIPE</strong>
       </p>
       <p>
         Un classement par équipe de 3 coureurs du même club aura lieu. Ce
         classement sera mixte et fonctionnera de la même façon que le classement
         individuel. (Au kilomètres parcourus par l’ensemble des coureurs de cette
         équipe). Les 3 coureurs devront participer ensemble aux étapes du
         Challenge.
       </p>
       <p>
         <strong>6°) MINIMA de participation pour gagner le CHALLENGE</strong>
       </p>
       <p>
         Un minima de 4 participations sera obligatoire pour gagner le CHALLENGE et
         prétendre aux lots. (Valable également pour le classement par équipe)
       </p>
       <p>
         Toute réclamation, toute question sera envoyée par mail à
         contact@assurancesvelo.com ou sur le site
         <a href="http://challenge.assurancesvelo.com/">http://challenge.assurancesvelo.com/</a>
       </p>
     </div>
   </div>
 </div>

 <div class="lot-inside-text">
  <h2>Le Réglement du <span style="border-bottom: 2px solid #F75100;">challenge Assurances Vélo Electrique</span></h2>
</div>


<div class="container">
  <div class="row">
    <div class="col-10 mx-auto">
     <p>
      1 ère ETAPE : <strong>LA VELOSTAR</strong> le 1 er mai <br>
      2 ème ETAPE : <strong>LA GAILLARDE DE CARVALHO</strong> le 13 mai<br>
      3 ème ETAPE : <strong>LA MARMOTTE D’OLT</strong> le 11 juin<br>
      4 ème ETAPE : <strong>LES COPAINS CYFAC</strong> du 29 juin au 1 er juillet<br>
      5 ème ETAPE : <strong>LA PERIGORDINE</strong> le 8 juillet<br>
      6 ème ETAPE : <strong>LA PIERRE CHANY</strong> le 4 aout<br>
      7 ème ETAPE : <strong>LA JEAN FRANCOIS BERNARD</strong> le 19 aout
    <p>
      <strong>1°) LES CONDITIONS DE PARTICIPATION AU CLASSEMENT DU CHALLENGE</strong>
    </p>
    <p>
      Tous les inscrits sur les parcours VAE proposés par les cyclo-sportives
      citées ci-dessus pourront prétendre à participer au Challenge Vélos
      Electriques 2018. Tous les participants devront se fier au règlement de
      chaque cyclo-sportive.
    </p>
    <p>
      La seule exclusion du CHALLENGE sont les Speed Bikes (VAE 45km/h). Tous les
      VAE dont l’assistance est de 25km/h seront acceptés.
    </p>
    <p>
      <strong>2°) ENGAGEMENTS</strong>
    </p>
    <p>
      En participant à une cyclosportive du Challenge Assurances Vélo, tout
      participant est automatiquement inscrit au classement du Challenge Vélos
      Electriques 2018.
    </p>
    <p>
      <strong>3°) CATEGORIES</strong>
    </p>
    <p>
      Pour cette première édition de ce Challenge unique en France, 2 catégories
      seront récompensées :
    </p>
    <p>
      <strong>HOMMES</strong>
    </p>
    <p>
      <strong>FEMMES</strong>
    </p>
    <p>
      <strong></strong>
      <br/>
    </p>
    <p>
      <strong>4°) CLASSEMENTS</strong>
    </p>
    <p>
      Le classement Général du Challenge se fera en fonction de 2 critères :
      <br/>
      <br/>
      - 1er Critère : le cumule des kilomètres parcourus Etapes après Etapes du
      Challenge sans distinction grands et petits parcours et si besoin,
      <br/>
      <br/>
      - 2nd Critère : la place dans la catégorie ou il faut avoir le plus petit
      chiffre pour se départager avec un ex aequo.
      <br/>
      <br/>
      - M. GHISLAIN fait les 2 premières Etapes du Challenge et ses places dans
      sa catégorie sont 5ème et 2ème
      <br/>
      dans sa catégorie soit 115 + 104 (petits parcours) = 219 points
      <br/>
      Soit 5 + 2 = 7
      <br/>
      <br/>
      - M. LAMBERT fait les 2 premières Etapes du Challenge et ses places dans sa
      catégorie sont 4ème et 6ème
      <br/>
      Soit 115 km + 104 km (petits parcours) = 219 pts
      <br/>
      Soit 4+6 = 10
      <br/>
      <br/>
      Donc le leader est M. GHISLAIN car il a le plus petit score 7 contre 10
    </p>
    <p>
      <strong>5°) MINIMA de participation pour gagner le CHALLENGE</strong>
    </p>
    <p>
      Un minima de 4 participations sera obligatoire pour gagner le CHALLENGE et
      prétendre aux lots. (Valable également pour le classement par équipe)
    </p>
    <p>
      Toute réclamation, toute question sera envoyée par mail à
      contact@assurancesvelo.com ou sur le site
      <a href="http://challenge.assurancesvelo.com/">http://challenge.assurancesvelo.com/</a>
    </p>
  </div>
</div>
</div>



