.lot-inside-header-image{
  height: 230px;
  border-bottom: solid $orange 1px;
}


.lot-inside-row-padding{
  padding-bottom: 1em;
  padding-bottom: 1em;
}

.lot-inside-text{
  text-align: center;
  padding-top: 4em;
  padding-bottom: 4em;
  h2{
    color:$gray-dark;
    font-size: 35px;
    font-weight: bold;
    font-family: $base-font;
    text-transform: uppercase;
    padding-bottom: 0.5em;
  }
  h3{
    color: $gray-lighter;
    font-size: 16px;
    font-family: $header-font;
    font-style: italic;
  }
}

.lot-inside-wrapper{
  padding-top: 2em;
  padding-bottom: 2em;
  text-align: center;
}

.lot-inside-card-text{
  padding: 3em 2em 1em 2em;
  .lot-inside-description{
    border-bottom: solid 1px $orange;
    p{
      font-style: $header-font;
      font-size: 15px;
    }
  }
  .lot-inside-recompense{
    padding-top: 1em;
    p{
      color: $orange;
      font-style: $header-font;
      font-size: 10px;
    }
    i{
      color: $orange;
      font-size: 20px;
    }
  }
}

.lot-inside-card-img-top{
  position: relative;
  z-index: 0;
}

.lot-brand-img{
  width: 100%;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
  top: 140px;
img{
  width: 75px;
  height: 75px;
  border-radius: 50%;
  box-shadow: 0 4px 16px -6px rgba(0,0,0,.3);
}
}
