<div class="lot-header-image">
</div>

<div class="lot-text-inside">
  <h2><span style="border-bottom: 2px solid #F75100;">Les marques</span> qui vous récompensent</h2>
  <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi fugiat, maiores ducimus. Suscipit qui unde ut at, labore itaque neque aliquid cupiditate dignissimos asperiores esse, porro laborum debitis non hic.</h3>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <div class="card lot-card">
        <img class="card-img-top lot-card-img-top img-reponsive" src="<%= image_path "header-slide2.jpg" %>" alt="Card image cap">
        <div class="lot-card-block d-flex align-items-center">
          <div class="card-block card-blok-inside">
            <h4>Code promo 10%</h4>
            <h5>10% de réductions sur toute la boutique JBL</h5>
            <br>
            <p>Lot disponible à la pierre chany</p>
          </div>
        </div>
      </div>
      <br>
    </div>
  </div>
</div>
