<div class="lot-inside-header-image">
</div>

<div class="lot-inside-text">
  <h2><span style="border-bottom: 2px solid #F75100;">Nos partenaires</span> vous récompensent</h2>
</div>

<div class="lot-inside-wrapper">
  <div class="container">
    <div class="row">
      <% @lots.each do |lot| %>
      <div class="col-sm-4 lot-inside-row-padding">
        <div class="card" style="width: 20rem;">
          <div class="lot-brand-img">
            <img  src="<%= image_path lot.brand %>" alt="">
          </div>
          <img class="card-img-top" src="<%= image_path lot.image %>" alt="Card image cap">
          <div class="card-block d-flex justify-content-center">
            <div class="lot-inside-card-text">
              <div class="lot-inside-description">
                <p><%= lot.description %></p>
              </div>
              <div class="lot-inside-recompense d-flex flex-row align-items-center justify-content-center">
                <p class="p-2"><%= lot.recompense %></p>
                <p class="p-2"><i class="fa fa-bolt" aria-hidden="true"></i></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>

